<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Utilissateur</title>
        <link rel="stylesheet" href="../css/style.css">
        <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="/DataTables/datatables.css">
    </head>
    <body class="form">
        <div class="container-fluid" style="margin-top:10px;">
            <div class="row">
                <div class="col-4 col-sm col-md mx-auto">
                </div>
                <div class="col-4 col-sm col-md mx-auto">
                    <form class="card">
                        <div class="card-header">
                            <h1 class="card-title">Ajouter un utilisateur</h1>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="email">Email : </label>
                                <input type="email" class="form-control" id="email" aria-describedby="email" placeholder="Entrez un email" autofocus required>
                                <small id="emailHelp" class="form-text text-muted"></small>
                            </div>
                            <div class="form-group">
                                <label for="password">Password :</label>
                                <input type="password" class="form-control" id="password">
                            </div>
                            <div class="form-group">
                                <label for="type_user">Type utilisateur</label>
                                <select class="form-control" name="type_user" id="type_user">
                                    <option value="">Choisissez un type utilisateur</option>
                                    <option value="0">Standard</option>
                                    <option value="1">Admin</option>
                                    <option value="2">Super Admin</option>
                                </select>
                            </div>
                            <button type="submit" class="btn btn-primary">Envoyer</button>
                        </div>
                    </form>
                </div>
                <div class="col-4 col-sm col-md">
                </div>
            </div>
        </div>
        <script type="text/javascript" charset="utf8" src="/DataTables/datatables.js"></script>
        <script>
            
            const electron = window.require('electron');
            const {ipcRenderer} = electron;
            const form = document.querySelector('form');
            form.addEventListener('submit',submitForm)

            function submitForm(e)
            {   
                e.preventDefault();
                let email = document.querySelector('#email').value
                let password = document.querySelector('#password').value
                let type_user = document.querySelector('#type_user').value
                let item = {
                    'email' : email,
                    'password'  :  password,
                    'type_user' : type_user
                };
                ipcRenderer.send('utilisateur:add', item);
            }
        </script>
        <script src="../../node_modules/bootstrap/dist/js/bootstrap.js"></script>
    </body>
</html>