<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Groupe de service</title>
        <link rel="stylesheet" href="../css/style.css">
        <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.css">
    </head>
    <body class="form">
        <div class="container-fluid" style="margin-top:10px;">
            <div class="row">
                <div class="col-3 col-sm-6 col-md mx-auto">
                    <form class="card">
                        <div class="card-header">
                            <h1 class="card-title">Ajouter un medecin</h1>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col form-group">
                                    <label for="nom">Nom : </label>
                                    <input type="text" class="form-control" id="nom" aria-describedby="nom" placeholder="Entrez le nom" autofocus required>
                                </div>
                                <div class="col form-group">
                                    <label for="prenoms">Prenoms :</label>
                                    <input type="text" class="form-control" id="prenoms" placeholder="Entrez un prenoms" required>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col form-group">
                                    <label for="cni"> Carte nationale d'identité: </label>
                                    <input type="text" class="form-control" id="cni" aria-describedby="cni" placeholder="Entrez le numero cni" required>
                                </div>
                                <div class="col form-group">
                                    <label for="contact"> Contact:</label>
                                    <input type="number" class="form-control" id="contact" placeholder="Entrez un contact">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col form-group">
                                    <label for="poste"> Poste: </label>
                                    <input type="text" class="form-control" id="poste" aria-describedby="poste" placeholder="Entrez le poste" required>
                                </div>
                                <div class="col form-group">
                                    <label for="email"> Email:</label>
                                    <input type="email" class="form-control" id="email" placeholder="Entrez un email">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col form-group">
                                    <label for="ville"> Ville: </label>
                                    <input type="text" class="form-control" id="ville" aria-describedby="ville" placeholder="Entrez la ville" required>
                                </div>
                                <div class="col form-group">
                                    <button type="submit" class="btn btn-primary">Envoyer</button>                                
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <script>
            const electron = window.require('electron');
            const {ipcRenderer} = electron;
            const form = document.querySelector('form');
            form.addEventListener('submit',submitForm)

            function submitForm(e)
            {   
                e.preventDefault();
                let nom = document.querySelector('#nom').value
                let prenoms = document.querySelector('#prenoms').value
                let email = document.querySelector('#email').value
                let ville = document.querySelector('#ville').value
                let poste = document.querySelector('#poste').value
                let cni = document.querySelector('#cni').value
                let contact = document.querySelector('#contact').value
                
                let item = {
                    'nom' : nom,
                    'prenoms'  :  prenoms,
                    'email': email,
                    'ville': ville,
                    'poste': poste,
                    'cni': cni,
                    'contact': contact
                };

                ipcRenderer.send('medecin:add', item);
            }
        </script>
        <script src="../../node_modules/bootstrap/dist/js/bootstrap.js"></script>
    </body>
</html>