<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Gestion des caisses </title>
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.css">
    </head>
    <body>
        <div class="container" style="margin-top:10px;"> 
            <div class="row">
                <div class="col-lg-4 col-md-8 mb-5 mb-lg-0 mx-auto">
                    <a href="/templates/" class="after-loop-item card border-0 card-templates shadow-lg bg-success">
                        <div class="card-body d-flex align-items-end flex-column text-right">
                            <h4>Templates</h4>
                            <p class="col">Unstyled layouts to help you get started!</p>
                            <i class="col img-fluid fa fa-user"></i>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-8 mb-5 mb-lg-0">
                    <a href="/snippets/" class="after-loop-item card border-0 card-snippets shadow-lg bg-warning">
                        <div class="card-body d-flex align-items-end flex-column text-right">
                            <h4>Snippets</h4>
                            <p class="w-75">Code snippets ready to copy and paste!</p>
                            <i class="fal fa-code"></i>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-8 mx-auto">
                    <a href="/guides/" class="after-loop-item card border-0 card-guides shadow-lg bg-danger">
                        <div class="card-body d-flex align-items-end flex-column text-right">
                            <h4>Guides</h4>
                            <p class="w-75">Guides and tutorials to help you learn Bootstrap!</p>
                            <i class="fal fa-books"></i>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <script src="../node_modules/bootstrap/dist/js/bootstrap.js"></script>
    </body>
</html>